<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <!-- http://www.mkyong.com/spring-boot/spring-boot-spring-security-thymeleaf-example/ -->
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../static/css/accounting.css" th:href="@{/css/accounting.css}"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand" href="#">TEXT</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()" >
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/register}">Create a new Account</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form class="form-inline" th:action="@{/logout}" method="post">
                        <input class="btn btn-secondary" type="submit" value="Logout"/>
                    </form>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <span class="navbar-text">User: <span sec:authentication="principal.username">ADA</span></span>
                </li>
            </ul>
        </div>
    </nav>


</div>

</body>
</html>
