<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title th:text="#{page.title}">TEXT_TITLE</title>
    <script>
        $(document).ready(function(){
            $("p").click(function(){
                $(this).hide();
            });
        });
    </script>
</head>
<body>

    <div th:replace="fragments/header :: header"/>

    <div class="container">

        <h1 th:text="#{invoice.start.header}">TITLE</h1>
        <p th:text="#{invoice.start.text}">WELLCOME_TEXT</p>

        <h3 th:text="#{invoice.start.header2}">TITLE_2</h3>
        <p><span th:text="#{invoice.start.account.add}">ADD_ACCOUNT</span><a href="#" th:href="@{/invoice/add-bank-account}">
            <img border="0" alt="ADD_BANK_ACCOUNT" src="../../static/icon/credit-card-icons_64x64.png" th:attr="src=@{/icon/credit-card-icons_64x64.png}" width="24" height="24" />
        </a></p>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" th:text="#{invoice.start.column.name}">NAME</th>
                <th scope="col" th:text="#{invoice.start.column.description}">DESCRIPTION</th>
                <th scope="col" th:text="#{invoice.start.column.edit}">EDIT</th>
                <th scope="col" th:text="#{invoice.start.column.delete}">DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bankaccount : ${bankaccounts}">
                <td id="name-50" th:id="${'name-' + bankaccount.id}">
                    <a href="#" th:href="@{/invoice/bank-account/{id}/balance(id=${bankaccount.id})}"><span th:text="${bankaccount.name}">NAME</span></a>
                </td>
                <td th:text="${bankaccount.description}">DESCRIPTION</td>
                <td>
                    <a href="#" th:href="@{/invoice/bank-account/{id}/edit(id=${bankaccount.id})}">
                    <img border="0" alt="ADD_BANK_ACCOUNT" src="../../static/icon/edit-pencil-icon_64x64.png" th:attr="src=@{/icon/edit-pencil-icon_64x64.png}" width="24" height="24" />
                    </a>
                </td>
                <td>
                    <!-- href="#" th:href="@{/invoice/bank-account/{id}/delete(id=${bankaccount.id})}" -->
                    <!--
                    <a data-toggle="modal" data-target="#deleteModalCenter">
                    <img border="0" alt="ADD_BANK_ACCOUNT" src="../../static/icon/trashcan_64x64.png" th:attr="src=@{/icon/trashcan_64x64.png}" width="24" height="24" />
                    </a>
                    -->
                    <a id="50" th:id="${bankaccount.id}" class="deleteButton">
                        <img border="0" alt="DELETE_BANK_ACCOUNT" src="/Users/henrikstd/Dropbox/Develop/java/spring/accounting/src/main/resources/static/icon/trashcan_64x64.png" th:attr="src=@{/icon/trashcan_64x64.png}" width="24" height="24" />
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLongTitle" th:text="#{invoice.start.modal.dialog.title}">DELETE_MODAL_DIALOG_TITLE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span th:text="#{invoice.start.modal.dialog.text1}">ARE_YOU_SURE_YOU_WANT_TO_DELETE</span>
                    <span id="modal-body-account-card-name">TEXT</span>
                    <span th:text="#{invoice.start.modal.dialog.text2}">?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{invoice.start.modal.dialog.secondary}">CANCLE</button>
                    <a role="button" id="modal-dialog-primary-btn" class="btn btn-primary" th:text="#{invoice.start.modal.dialog.primary}">DELETE</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

    <script>
        $(document).ready(function(){
            var $modal = $('.modal').modal({
                show: false
            });

            $('.deleteButton').on('click', function() {
                var name = $('#name-'+this.id).text()
                $('#modal-body-account-card-name').html(name);
                $("#modal-dialog-primary-btn").attr("href", "/invoice/bank-account/" + this.id + "/delete");
                $modal.modal('show');
            });

        })
    </script>
</body>
</html>