<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title th:text="#{page.title}">TEXT_TITLE</title>
</head>
<body>

    <div th:replace="fragments/header :: header"/>

    <div class="container">


        <div th:if="${registeredUser}" class="alert alert-success" id="index-alert-success" th:text="#{index.registered}">
            YOU_HAVE_CREATE_AN_ACCOUNT
        </div>

        <h1 th:text="#{index.header}">TITLE</h1>
        <p th:text="#{index.text}">WELLCOME_TEXT</p>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</body>
</html>